
.section__exhibitions {
  padding-top: 0;
}
.nav__up-coming-events,
.nav__permanent-exhibitions {
  text-align: center;
}
.section__up-coming {
  gap: 3rem;
}
.card__up-coming {
  min-height: 600px;
  max-height: 600px;
  box-shadow: 10px 10px 10px rgba(0, 10, 255, 0.25);
}
.card__up-coming-info {
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.wrapper__up-coming_quote {
  background: #000;
  min-height: 80px;
  max-height: 80px;
  justify-content: center;
  width: 100%;
}
.background__up-coming-card_1 {
  background: 100% no-repeat url(/images/unsplash_astronaut-new.jpg);
}
.background__up-coming-card_2 {
  background: 100% no-repeat url(/images/given_roberto-nickson-396152.jpg);
}
.background__up-coming-card_3 {
  background: 100% no-repeat url(/images/unsplash_energetica-new.jpg);
}
.background__exhibitions-card_1 {
  background: 100% no-repeat url(/images/pixabay_planet-581239.jpg);
}
.background__exhibitions-card_2 {
  background: 100% no-repeat url(/images/unsplash_dinosaur.jpg);
}
.background__exhibitions-card_3 {
  background: 100% no-repeat url(/images/pixabay_human-skeleton-163715.jpg);
}
.background__exhibitions-card_4 {
  background: 100% no-repeat url(/images/pixabay_artificial-intelligence-4389372_1280.jpg);
}
.background__exhibitions-card_5 {
  background: 100% no-repeat url(/images/unsplash_technology.jpg);
}
.background__exhibitions-card_6 {
  background: 100% no-repeat url(/images/pixabay_virus-1812092_1280.jpg);
}
.background__card-styling {
  background-size: cover;
  background-position: center;
}
.gradient-from-left {
  background: linear-gradient(358.52deg, #e1f2d4 61.4%, rgba(255, 255, 255, 0) 98.49%);
  border-radius: 0px 0px 50px 0px;
  padding-top: 10rem;
}
.gradient-from-right {
  background: linear-gradient(358.52deg, #f3edf9 61.4%, rgba(255, 255, 255, 0) 98.49%);
  border-radius: 0px 0px 0px 50px;
  padding-top: 10rem;
}
.card__exhibitions {
  justify-content: space-between;
}
