main {
  background: 100% no-repeat url(/images/background_gradient.jpg);
  background-size: cover;
}
.nav_events-and-exhibitions-page a {
  text-decoration: underline;
  padding: 0.8rem;
  display: block;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
}
.nav_events-and-exhibitions-page {
  text-align: center;
  padding: 2rem;
}
.nav_up-coming-section a {
  color: #fff;
}
.nav_permanent-exhibitions-section a {
  color: #10092c;
}
.h1_up-coming,
.h1_exhibitions {
  color: #fff;
  background-color: #10092c;
  padding: 5rem 0 1rem 0;
  margin: 0;
}
.section_up-coming {
  padding: 2rem;
  gap: 3rem;
}
.card_up-coming {
  min-height: 600px;
  max-height: 600px;
  box-shadow: 10px 10px 10px rgba(0, 10, 255, 0.25);
}
.card_up-coming-info {
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.card_up-coming h2,
.card_up-coming p {
  color: #fff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0;
}
.card_up-coming h2 {
  padding-top: 1.5rem;
}
.quote-up-coming_wrapper {
  background: #000;
  min-height: 80px;
  max-height: 80px;
  justify-content: center;
  width: 100%;
}
.background_up-coming-card_1 {
  background: 100% no-repeat url(/images/unsplash_astronaut-new.jpg);
}
.background_up-coming-card_2 {
  background: 100% no-repeat url(/images/given_roberto-nickson-396152.jpg);
}
.background_up-coming-card_3 {
  background: 100% no-repeat url(/images/unsplash_energetica-new.jpg);
}
.background_exhibitions-card_1 {
  background: 100% no-repeat url(/images/pixabay_planet-581239.jpg);
}
.background_exhibitions-card_2 {
  background: 100% no-repeat url(/images/unsplash_dinosaur.jpg);
}
.background_exhibitions-card_3 {
  background: 100% no-repeat url(/images/pixabay_human-skeleton-163715.jpg);
}
.background_exhibitions-card_4 {
  background: 100% no-repeat url(/images/pixabay_artificial-intelligence-4389372_1280.jpg);
}
.background_exhibitions-card_5 {
  background: 100% no-repeat url(/images/unsplash_technology.jpg);
}
.background_exhibitions-card_6 {
  background: 100% no-repeat url(/images/pixabay_virus-1812092_1280.jpg);
}
.background-styling_general {
  background-size: cover;
  background-position: center;
}
.gradient-from-left {
  background: linear-gradient(358.52deg, #e1f2d4 61.4%, rgba(255, 255, 255, 0) 98.49%);
  border-radius: 0px 0px 50px 0px;
  padding-top: 10rem;
}
.gradient-from-right {
  background: linear-gradient(358.52deg, #f3edf9 61.4%, rgba(255, 255, 255, 0) 98.49%);
  border-radius: 0px 0px 0px 50px;
  padding-top: 10rem;
}
.card_exhibitions {
  justify-content: space-between;
}
.card_exhibitions h2 {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 100%;
  margin: 0;
  margin-top: 1rem;
  padding: 0.5rem 0;
  justify-self: normal;
  align-self: start;
}
@media (min-width: 1000px) {
  /* main {
    padding: 2rem 10rem;
  } */
  .section_up-coming {
    padding: 1rem 10rem;
  }
  .section_exhibitions {
    padding: 0 5rem;
  }
}
