@media (min-width: 400px) {
  .section__this-month {
    background-color: var(--light-pink);
  }
  .btn__background_1 {
    background: 100% no-repeat url(../images_compressed/pixabay_dna_compressed.jpg);
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: var(--diffuse-pink);
  }
}
@media (min-width: 450px) {
  .section__this-month {
    padding-bottom: 3rem;
  }
}
@media (min-width: 500px) {
  footer {
    text-align: center;
  }
}
@media (min-width: 600px) {
  .logo_footer {
    width: 25%;
  }
}
@media (min-width: 800px) {
  .section__this-month {
    background-size: contain;
  }
}
@media (min-width: 1000px) {
  .hide-in-desktop {
    display: none;
  }
  .hide-in-mobile,
  .quote span {
    display: block;
  }
  .location_visit-us span {
    display: inline-block;
  }
  .align-left_in-desktop {
    text-align: left;
  }
  .align-right_in-desktop {
    text-align: right;
  }
  main {
    margin-top: 30px;
  }
  .this-month_flex {
    display: flex;
    gap: 1.5rem;
  }
  .main__contact-us {
    padding-top: 4rem;
  }
  .nav__permanent-exhibitions li {
    display: inline;
  }
  .nav__permanent-exhibitions ul {
    margin: 1rem 0 3rem;
  }
  /* ------ HEADER ------ */
  header {
    justify-content: center;
    padding: 25px;
  }
  .menu_icon,
  .btn_home {
    display: none;
  }
  .nav__header {
    display: flex;
    top: 69px;
    justify-content: center;
    padding: 0.2rem 0;
    background-color: var(--dark-pink);
  }
  .menu_dropdown {
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
  }
  .nav__header a {
    color: var(--white);
    background-color: var(--dark-pink);
    font-size: 0.65rem;
  }
  .logo {
    background: no-repeat url(../logo-btn/logo_regular.png);
    width: 300px;
    height: 20px;
    background-size: 100%;
  }

  /* ------ FOOTER ------ */
  footer {
    display: grid;
    grid-template-areas: "nav__footer logo-some_footer openinghours";
    padding: 5rem 7rem;
  }
  .openinghours_wrapper {
    grid-area: openinghours;
    margin-top: 2rem;
    text-align: right;
  }
  .nav__footer {
    grid-area: nav__footer;
    text-align: left;
  }
  .logo-some_footer {
    grid-area: logo-some_footer;
    white-space: nowrap;
    filter: drop-shadow(10px 10px 10px rgba(0, 10, 255, 0.25));
  }
  .logo-some_footer a {
    margin: 5rem 2rem 0 2rem;
  }
  /* ------ TEXT-STYLES ------ */
  .main__events-and-exhibitions h1 {
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.25);
    background: none;
  }
  .section__this-month h1 {
    background: none;
    box-shadow: none;
    text-align: left;
    padding: 0.5rem 0;
    color: var(--almost-black);
  }
  .h1__up-coming-events,
  .h1__exhibitions {
    color: var(--dark-purple);
  }
  .card__this-month h2 {
    margin: 1rem 0 0 0;
    text-align: left;
  }
  .card__this-month p {
    margin: 0;
    height: 115px;
  }
  .section__this-month a {
    margin-top: 1rem;
    align-self: end;
  }
  .nav__links-general a {
    font-size: 0.7rem;
  }
  .nav__up-coming-events,
  .nav__permanent-exhibitions {
    padding: 0;
    background: var(--white);
    box-shadow: 10px 10px 10px rgba(0, 10, 255, 0.25);
  }
  .nav__up-coming-events a,
  .nav__permanent-exhibitions a {
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem;
  }
  .background_up-coming-card_1 h2,
  .background_up-coming-card_1 p,
  .background_up-coming-card_3 h2,
  .background_up-coming-card_3 p {
    padding-right: 17rem;
    padding-left: 2rem;
  }
  .background_up-coming-card_2 h2,
  .background_up-coming-card_2 p {
    padding-right: 2rem;
    padding-left: 17rem;
  }
  .section__visit-us_top h2,
  .section__visit-us_top p {
    text-align: left;
    margin-left: 0;
  }
  .quote__up-coming {
    background: none;
  }
  /* ------ SECTIONS ------ */
  .section__this-month {
    background-size: cover;
    padding: 0 2rem 5rem;
  }
  .section__explore {
    display: grid;
    grid-template-areas: "1fr 1fr 1fr";
    justify-content: center;
    gap: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .section__up-coming {
    padding: 1rem 10rem;
  }
  .section__exhibitions {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 0 5rem;
  }
  .section__visit-us_top {
    display: grid;
    padding-top: 4rem;
    grid-template-areas:
      "h1 h1"
      "leftside map";
    gap: 2rem;
  }
  .grid-area_h1 {
    grid-area: h1;
  }
  .grid-area_left {
    grid-area: leftside;
    width: 355.2px;
  }
  .circular-map {
    grid-area: map;
    align-self: center;
    width: 345.2px;
  }
  .section__visit-us_top {
    max-width: 744px;
  }
  .section__visit-us_additional-info {
    display: grid;
    grid-template-areas:
      "1fr 1fr"
      "1fr 1fr";
    justify-content: center;
    gap: 2rem;
  }
  .section__visit-us_top,
  .section__visit-us_additional-info {
    margin-left: auto;
    margin-right: auto;
  }

  /* ------ CARDS------ */
  .card__this-month {
    display: grid;
    align-content: start;
    min-width: 240px;
    max-width: 270px;
    padding: 3rem 2rem 4rem 2rem;
    gap: 0.5rem;
  }
  .card_up-coming {
    min-height: 400px;
    max-height: 400px;
  }
  .card__up-coming_info {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2) 98.49%);
  }
  .card__exhibitions {
    margin: 0;
  }
  /* ------ BTN ------ */
  .btn_text {
    font-size: 0.8rem;
  }
  .btn__visit-us {
    display: inline-block;
    max-width: 10rem;
    min-width: 10rem;
    margin-left: auto;
    margin-right: auto;
  }
  .btn__visit-us:last-of-type {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  /* ------ CIRCULAR-IMG AND MAP ----- */
  .circular-img_wrapper {
    width: 217px;
    height: 217px;
    justify-self: center;
  }
  /* ------ FORM ----- */
  /* ------ SLOGAN ----- */
  .slogan__hero {
    padding: 6rem 0 25rem 0;
    font-size: 0.8rem;
  }
}

@media (min-width: 1010px) {
  /* ------ ONLY GET-INVOLVED PAGE ----- */
  .section__get-involved {
    gap: 5rem;
  }
  .card__get-involved {
    max-width: 720px;
    min-height: 240px;
    max-height: 240px;
    gap: 0;
  }
  .card__get-involved_1,
  .card__get-involved_3 {
    border-radius: 0px 50px 0px 0px;
    margin-left: 160px;
  }
  .card__get-involved_2 {
    border-radius: 50px 0px 0px 0px;
    margin-right: 160px;
  }
  .circular-img__get-involved_1 {
    top: -136px;
    left: -192px;
  }
  .circular-img__get-involved_2 {
    top: -118px;
    left: 584px;
  }
  .circular-img__get-involved_3 {
    top: -175px;
    left: -192px;
  }
  .circular-img__get-involved {
    position: relative;
    width: 320px;
    height: 320px;
  }
  .card__get-involved_top-side {
    height: 3rem;
    margin-left: 0;
    margin-right: 0;
  }
  .card__get-involved_top-side,
  .card__get-involved_top-side h2 {
    margin-bottom: 0rem;
  }
  .card__get-involved {
    justify-content: flex-end;
    padding-bottom: 1.5rem;
  }
  .section__get-involved,
  .main__get-involved {
    padding-top: 5rem;
  }
  .card__get-involved_1 h2,
  .card__get-involved_1 p,
  .card__get-involved_3 h2,
  .card__get-involved_3 p {
    text-align: left;
    padding: 0 1.5rem 0 12rem;
    margin: 0 0 1rem 0;
  }
  .card__get-involved_2 h2,
  .card__get-involved_2 p {
    text-align: right;
    padding: 0 12rem 0 1.5rem;
    margin: 0 0 1rem 0;
  }
  .circular-map {
    margin: 0;
  }
}

@media (min-width: 1250px) {
  .card_explore,
  .card_general {
    height: 480px;
  }
}
