/* ------ H1 ----- */
h1 {
  font-family: "Koulen";
  font-size: 1.7rem;
  letter-spacing: 0.18rem;
  text-transform: uppercase;
  text-align: center;
}
.main__events-and-exhibitions h1 {
  background-color: #10092c;
  padding: 5rem 0 1rem 0;
}
.main__visit-us h1,
.main__contact-us h1,
.main__get-involved h1 {
  color: #fff;
  padding: 3rem 0 3rem 0;
}
.main__events-and-exhibitions h1,
.main__visit-us h1,
.main__contact-us h1,
.main__get-involved h1,
.section__this-month h1 {
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section__this-month h1 {
  background: #f3edf9;
  box-shadow: 10px 10px 10px rgba(0, 10, 255, 0.25);
  padding: 1rem;
  min-width: 400px;
  color: #301d79;
}
.section__explore h1 {
  padding: 0;
  margin: 0 0 1rem 0;
  color: #301d79;
}
.h1__up-coming-events {
  color: #fff;
}
.h1__exhibitions {
  color: #fff;
}

/* ------ H2 ----- */
h2 {
  font-family: "Koulen";
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 0.085rem;
  text-transform: uppercase;
  /* margin: 0.5rem; */
  margin: 0;
}
.main__visit-us h2,
.main__contact-us h2,
.main__get-involved h2 {
  color: #301d79;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card__up-coming h2,
.card__exhibitions h2 {
  color: #fff;
}
.card__up-coming h2 {
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.card__exhibitions h2 {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  justify-self: normal;
  align-self: start;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 0;
}
.main__visit-us h2:last-of-type {
  margin-top: 2rem;
}

/* ------ PARAGRAPHS ----- */
p {
  font-family: "Inria Sans";
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1.2rem;
  letter-spacing: 0.085em;
  margin: 0;
}
.card_general p {
  padding: 0 1.5rem;
  margin: 0 0 2rem 0;
  color: #301d79;
}
.section__visit-us_top p {
  text-align: center;
}
.card__info-small p {
  text-align: center;
  color: #301d79;
  margin-top: 1.2rem;
}
.section__get-involved p {
  color: #301d79;
}
.card__up-coming p {
  color: #fff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.openinghours,
.openinghours p,
.location p {
  width: 100%;
  font-family: "Iceland";
  font-size: 1rem;
  letter-spacing: 0.085em;
  line-height: 120%;
  color: #10092c;
}

/* ------ LINKS ----- */
a {
  text-decoration: none;
}
.nav__links-general a,
.section__this-month a {
  font-family: "Lexend Zetta";
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 0.085em;
}
.nav__links-general a {
  text-transform: uppercase;
}
.nav__up-coming-events a,
.nav__permanent-exhibitions a {
  display: block;
  padding: 0.8rem;
}
.section__this-month a,
.nav__up-coming-events a,
.nav__permanent-exhibitions a,
.card__explore a {
  text-decoration-line: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
}
.nav__up-coming-events a,
.section__this-month a {
  color: #fff;
}
.nav__permanent-exhibitions a,
.nav__header a,
.nav__footer a,
h3 {
  color: #10092c;
}
.section__this-month a {
  text-decoration-line: underline;
}
.nav__footer a,
h3 {
  display: block;
  font-family: "Koulen";
  font-size: 1.3rem;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  white-space: nowrap;
}
h3 {
  margin: 0;
}

/* ------ QUOTE AND PLACEHOLDER ----- */
.quote,
.form_input::placeholder,
::placeholder {
  font-family: "Iceland";
  font-size: 1.1rem;
  letter-spacing: 0.085em;
  color: #4a4f96;
  text-shadow: none;
}
.quote {
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 10, 255, 0.25);
}
.card__explore .quote {
  background: radial-gradient(#e1f2d4 52.14%, rgba(216, 212, 242, 0) 99.08%), #f3edf9;
  padding: 1.5rem 1rem;
  text-transform: uppercase;
  color: #301d79;
}
.quote__up-coming {
  background: #000;
  min-height: 80px;
  max-height: 80px;
  justify-content: center;
  width: 100%;
}

/* ------ STYLING ----- */
.bold {
  font-weight: 800;
}
.italic {
  font-style: italic;
}

/* ------ SPAN----- */
.openinghours span,
.location span,
.card__info-small span {
  display: block;
}
.openinghours span {
  padding-bottom: 1rem;
}
/* ------ SLOGAN----- */
.slogan__hero,
.slogan__cube {
  font-family: "Lexend Zetta";
  font-size: 0.7rem;
  letter-spacing: 0.085rem;
  text-transform: uppercase;
}
