.openinghours,
.location {
  margin-bottom: 2rem;
}
.openinghours span,
.location span,
.card__info-small span {
  display: block;
}
.openinghours span {
  padding-bottom: 1rem;
}
.circular-map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  margin-top: 2rem;
  filter: drop-shadow(10px 10px 10px rgba(0, 10, 255, 0.25));
}
.card__info-small {
  background: #f3edf9;
  box-shadow: 10px 10px 10px rgba(0, 10, 255, 0.25);
  padding: 1.2rem;
  max-width: 300px;
  max-height: 170px;
  min-width: 300px;
  min-height: 170px;
}
.card__info-small {
  padding-top: 1rem;
}
.section__info {
  gap: 1.5rem;
  padding: 3rem 0 0;
}
.btn__background_3 {
  background: 100% no-repeat url(../images/unsplash_G66K_ERZRh.jpg);
  padding: 3rem 2rem;
  text-align: center;
  background-size: cover;
  background-position: center;
}
.btn__visit-us {
  display: block;
  max-width: 10rem;
  margin-left: auto;
  margin-right: auto;
}
.btn__visit-us:last-of-type {
  margin-top: 1.5rem;
}